*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
body{
    background: whitesmoke;
}
.breadcrum{
    padding: 10px 20px;
    font-size: 13px;
    color: black;

}
.product-display{
    min-height: 100%;
    padding: 10px 20px;
    display: flex;
}
.product-d-image{
    display: flex;
    gap: 10px;

}
.product-icons{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.product-icons img{
    border: 1px solid rgb(241, 234, 234);
    padding: 2px;
}
.product-d-details{
    margin: 0 30px;
}
.product-title{
    font-size: 15px;
}
.brand-store{
    margin-top: 5px;
    color: gray;
    font-size: 15px;
}
.product-rating{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-rating div{
    display: flex;
    align-items: center;
    gap: 10px;

}
.product-rating p{
    color: rgb(87, 195, 231);
}
.product-rating span{
    color: white;
    background: #c73500;
    padding: 2px 5px;
    font-size: 14px;

}
.product-rating h5{
    font-weight: 400;
}
.product-d-price{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.product-d-price div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;

}
.product-d-price div p{
    font-size: 26px;
    columns: #c73500;
}
.product-d-price div h1{
    font-size: 26px;
    font-weight: 500;
}
.product-d-price div h5{
    color: #565656;
    font-weight: 540;
}
.product-d-price h5 span{
    text-decoration: line-through;
}
.product-color-selection{
    margin: 15px 0;
}
.product-color-options{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.option{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #cbcbcb;
    gap: 10px;
}
.product-info{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 300px;
    margin-bottom: 15px;

}
.product-description h1{
    font-size: 30px;
    margin: 15px 0;

}
.product-description ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}
.product-d-purchase{
    width: 100%;
    max-width: 280px;
    min-height: auto;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    padding-top: 20px;
}
.product-d-purchase .title{
   display: flex;
   justify-content: space-between;
   align-items: center; 
}
.product-d-purchase .price{
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}
.product-d-purchase .price span{
    font-size: 20px;
    padding: 2px;

}
.product-d-purchase .price span{
    font-size: 25px;
    padding: 2px;

}
.product-d-purchase .gap{
    margin: 15px 0;
}
.product-d-purchase p span{
    color: #007185;
}
.delivery-location{
    display: flex;
    align-items: center;
    gap: 2px;
}
.product-stock{
    margin: 15px;
    color: green;
    font-size: 25px;
    
}
.product-quantity{
    padding: 8px 5px;
    outline: none;
    width: 100%;
    background-origin: 5px;
    background: #efefef;
    border-color: #c1c1c1;

}
.product-d-purchase .btn {
    outline: none;
    border: none;
    background: #ffd814;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.product-d-purchase .product-buy{
    background:linear-gradient(45deg, red, blue);
}
.product-seller-info{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px;
    font: 12px;
    color: #565656;

}
.product-seller-info span{
    color: palegoldenrod;
}
.product-d-purchase hr{
    margin: 20px 0;
}
.product-add-list{
    width: 90%;
    padding: 8px 15px;
    border: 1px solid #000;
    text-align: start;
    background: rgb(228, 142, 142);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}
.product-footer{
    margin-top: 50px;
}
/*------media queries-----*/
@media only screen and (max-width: 900px) {
    .product-display{
        flex-wrap: wrap;
    }
    .product-icons{
        display: none;
    }
    .product-main-image{
        width: 100%;
        padding: 20px;
    }
    .option{
        padding: 6px 8px;
    }
    .option p{
        display: none;
    }
    .product-d-purchase{
        max-width: 90%;
        margin: 20px auto 10px;
        
    }
}